@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: black;
    padding: 1.5rem 2rem;
    box-shadow: none;
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.logo-text {
    margin-left: 1rem;
    font-size: 2.3rem;

}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 60px;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
    padding: 0.5rem 0.75rem;
    font-size: 1.3rem;

}

.nav-links li a:hover {
    color: white;
    background-color: slateblue;
    font-weight: bolder;
    border-radius: 20%;
    transition: all 250ms
}

/* These Are Styles For Navbar-buttons */

.button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: slateblue;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

/* This is End of Styles for Navbar buttons */


/* These styles are for the toggleswitch */
label {
    height: 40px;
    width: 60px;
    margin-left: 60px;
    background-color: #ffffff;
    border-radius: 30px;
    -webkit-box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
        inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
        inset 0 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
        inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
        inset 0 0 0 3px rgba(0, 0, 0, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
}

.label:hover {
    -webkit-transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
    transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
}

#checkbox:checked~.label:hover {
    -webkit-transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
    transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
}

#checkbox {
    display: none;
}

#checkbox:checked~.label::before {
    left: 50px;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 70%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.label::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #000000;
    background-image: linear-gradient(130deg,
            #757272 10%,
            #ffffff 11%,
            #726f6f 62%);
    left: 10px;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

/* These are finish of toggleswitch  */


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 1.5rem 0.5rem;
    }

    .logo {
        margin-bottom: 1.5rem;
    }

    .nav-links {
        margin-top: 1rem;
        gap: 0.5rem;
    }

    .connect-button {
        margin-top: 1.5rem;
    }
}


/* This is For the Toggle Mode Code */

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    --background: #28096b;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: .5s;
}

input:checked+.slider {
    background-color: #522ba7;
}

input:checked+.slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
}

/* This is For End for the Toggle Mode Code */


/* This is for the css of the signupbut  */
#signupbut {
    margin-left: 70px;
    background-color: #414141;
    color: #FBFADA;
}

#signupbut:hover {
    background-color: slateblue;
    color: white;
}

#signinbut {
    margin-right: 20px;
    background-color: slateblue;
    color: white;
}

#signinbut:hover {
    background-color: #000000;
    color: #f0edcf;
}

/* This is End of the signupbut */

/* This is For the Dark and Light Mode Logic */

.Dark {
    background-color: #0c2d57;
}

.Light {
    background-color: #ffffff;
}

/* This is For End of the Dark and Light Mode Logic */